## .NET
bin/
obj/
*.user
*.suo
.vs/
*.DotSettings.user

## Logs
logs/
*.log

## Environment
.env
appsettings.local.json
appsettings.Local.json
.azure/

## Rider / VS
.idea/
*.sln.iml

## Node / Front
node_modules/
dist/
.vite/
